html {
  height: 100%;
  background-color: rgb(156, 163, 254);
}

body {
  margin-left: 6%;
  margin-right: 6%;
  
}

header {
  width:94%;
  height:28%;
  background-image: url(https://images.hdqwalls.com/download/abstract-ultra-hd-5k-oo-3840x2400.jpg); 
  background-size:cover;
  margin: auto;
  padding: 5px;
  border-top: 10px;
  border-bottom: 10px;
  border-radius: 50%;
  border: 3px white solid;
}

.header {
  color: white;
  text-align: center;
  padding: 5px;;
}

h1.header {
  padding: 0px;
  margin: 3px;
  font-family: optima;
  font-weight: 500;
  text-shadow: 2px 2px #d874ff9e;
  font-size: 40pt;
  margin-bottom: 0px;
}

h4.header {
  margin: 5px;
  font-weight: 100;
  font-family: optima;
  color: rgba(255, 255, 255, 0.66);
  font-size: small;
  margin-bottom: 0px;
}

p.header {
  margin-top: 2px;
  font-family: optima;
  font-weight: lighter;
  font-size: medium;
  margin-bottom: 13px;
}

#entry {
  background-color: rgba(166, 134, 240, 0.706);
  width: 62%;
  margin:auto;
  margin-bottom: 10px;
  border-radius: 50%;
  text-align: center;
  color:white;
  font-style: italic;
  font-family: optima;
  margin-top: 14px;
  font-size: larger;
  padding: 6px;
  border: dotted white 2px;
  border-style: groove;
}

#formInput:hover {
  background-color: rgb(196, 219, 255);
}

h1#name {
  text-align: center;
  font-family: optima;
  font-style: italic;
  color:rgb(78, 20, 94);
  margin-bottom: 12px;
  margin-top: 15px;
  text-shadow: 2px 2px #d874ff9e;
  font-size: 52pt;
}

#goBtn {
  border: 1px white solid;
  font-weight: bold;
}

#goBtn:hover {
  border: 1px dotted;
  font-style: italic;
}

.button {
  text-align: center;
  color: white;
  border-radius: 50%;
  padding: 8px;
  margin: 8px;
  font-weight:500;
  font-family: optima;
  background-color: rgba(112, 45, 238, 0.589);
  border: 3px, rgba(0, 213, 255, 0.639);
}

.buttons {
  visibility: hidden;
  text-align: center;
  margin: auto;
  margin-top: 7px;
  margin-bottom: 0px;
  display: block;
  padding: 7px;
  background-color:rgba(166, 134, 240, 0.706);
  border: 2px rgba(120, 18, 230, 0.626);
  border-style: solid;
  border-radius: 52px;
  width: fit-content;
}

#formInput{
  color:rgb(116, 0, 194);
  background-color: rgba(190, 237, 243, 0.651);
  border: 2px white solid;
  border-radius: 6px;
  font-family: optima;
}

label{
  text-shadow: rgb(93, 0, 255) 1px 0 10px;
}

::placeholder {
  color: rgba(131, 139, 251, 0.75);
  opacity: 1;
}

#mainImg{
  visibility: hidden;
  width: 76%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display:block;
  border: 2px dotted rgb(78, 20, 94);
  margin-bottom: 35px;
  margin-top: 17px;
  border-radius: 12px;
}

#artistDetails {
  visibility: hidden;
}

#artistDiscog {
  visibility: hidden;
}

#artistVids {
  visibility: hidden;
}

.mVids {
  border-radius: 10px;
  color: rgb(78, 20, 94);
}

.albumImg {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 62%;
  margin-top: 10px;
  border: 1px black solid;
}

.info {
  text-align: center;
  font-family: optima;
  border: 2px white solid;
  border-radius: 22px;
  padding: 15px;
  margin: 15px;
  background-color: rgba(166, 134, 240, 0.706);
}

.info:first-child {
  margin-top: 0;
}

.album {
  color: rgb(78, 20, 94);
}

#artistDetail {
  color: rgb(78, 20, 94);
  border: 2px white solid;
  border-width: 2px; 
}

.vidplayer {
  width: 95%;
  height:auto;
}

h3.title {
  font-family: optima;
  font-size: 20pt;
}

.nav {
  padding: 17px;
  border: 1px white dotted;
  padding-top: 8px;
  padding-bottom: 8px;
}

.nav:hover {
  font-style: italic;
  border: 1px white solid;
}

ul {
  text-align:left;
  padding-left: 30%;
}

#artistDetail > p:first-of-type {
  font-size: large;
  margin-top: 33px;
}

.title {
  text-shadow: rgba(255, 255, 255, 0.557) 1px 0 4px;
  color: rgb(90, 20, 252);
}

.vidContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.vidContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

hr {
  border-top: 2px dashed white;
  border-bottom: 2px dashed white;
  visibility: hidden;
  width: 86%;
  margin-bottom: 6px;
  margin-top: 6px;
  height: 1px;
}